:root {
    --primary: #E91E63;
    --border: #E0E0E0;
    --surface-primary: #FFFFFF;
    --surface-secondary: #FAFAFA;
    --text-dark: #000000;
    --surface-overlay: rgba(250, 250, 250, 0.5);
    --text-primary: #333333;
    --text-header: #212121;
    --surface-tertiary: #f3f3f3;
    --surface-overlay-dark: rgba(243, 243, 243, 0.75);
    --primary-alpha: rgba(233, 30, 99, 0.35);
}

[data-theme='dark'] {
    --primary: #E91E63;
    --border: #333333;
    --surface-primary: #212121;
    --surface-secondary: #333333;
    --text-dark: #dddcdc;
    --surface-overlay: rgba(33, 33, 33, 0.5);
    --text-primary: #BBBBBB;
    --text-header: #DDDDDD;
    --surface-tertiary: #424242;
    --surface-overlay-dark: rgba(66, 66, 66, 0.75);
    --primary-alpha: rgba(233, 30, 99, 0.35);
}

