/*
    CSS for fonts
*/

@font-face {
    font-family: fascinate;
    src: url(../fonts/Fascinate/Fascinate-Regular.ttf);
}

@font-face {
    font-family: LobsterTwo-Bold;
    src: url(../fonts/LobsterTwo-Bold.ttf);
}