/*
    CSS for "index.html"
*/

#Carrusel-Section{
    display: flex;
    justify-content: center;
}

#Carrusel-Container{
    width: 60%;
    height: 500px;
    background-color: #ffffff;
    margin-top: 20px;;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    justify-content: center;
}

.carrusel-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
}

#Search-Main-Container{
    border-radius: 25px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    background-color: #FAFAFA50;
    padding: 40px;
}

#Search-Container{
    background-color: #FFFFFF;
    height: 150px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #E0E0E0;
    border-radius: 25px;
}

.search-input{
    margin: 3px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #E91E63;

}

#Search-Button{
    width: 40px;
    transition: 0.3s;
    background-color: #fff;
}

#Search-Button:hover{
    transition: 0.3s;
    border: 1px solid #E91E63;
    height: 45px;
    width: 45px;
    color: #fff;
    cursor: pointer;
}

#Search-Icon{
    width: 20px;
    height: 20px;
}

#Search-Bar{
    width: 200px;
    padding-left: 20px;
}

#Selling-Options, #Type-Options{
    width: 125px;
    padding: 10px;
}

#Main-Container{
    display: flex;
    flex-direction: row;
    align-items: start;
    min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    padding: 8%;
}


.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 40px;
    padding-top: 50px;
}

#Content-Container{
    transition: 0.3s;
    width: 55%;
    text-align: center;
    margin-bottom: 40px;
}
#Agency-Container{
    transition: 0.3s;
    width: 35%;
    text-align: center;
    margin-bottom: 40px;
}

#Content-Container:hover{
    transition: 0.3s;
    border: 1px solid #E91E63;
    width: 60%;
    cursor: pointer;
}

#Agency-Container:hover{
    transition: 0.3s;
    border: 1px solid #E91E63;
    width: 40%;
    cursor: pointer;
}

hr{
    width: 80%;
    border: none;
    border-top: 1px solid #E91E63;
    margin: 20px 0;
}   

#Properties-Container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.properties-info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 250px;
    width: 460px;
    border: 1px solid #E0E0E0;
    border-radius: 25px;
    padding: 10px;
    transition: 0.3s;
}

.properties-info:hover{
    transition: 0.3s;
    border: 1px solid #E91E63;
    cursor: pointer;
    width: 600px;
    background-color: #FAFAFA;
}

.property-image{
    width: 200px;
    height: auto;
    border-radius: 25px;
}

.hr-vertical{
    border: none;
    border-left: 1px solid #E91E63;
    height: 100%;
    width: 1px;
    margin: 0 10px;
}

.property-text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
    align-items: center;
    width: 100%;
}   