/*
    CSS for "index.html"
*/

#Carrusel-Section{
    display: flex;
    justify-content: center;
}

#Carrusel-Container{
    width: 60%;
    height: 500px;
    margin-top: 20px;;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    justify-content: center;
    background-image: url(../img/banner.webp);
    background-size: cover;
    background-position: center;
    opacity: 60%;
}

.carrusel-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
}

#Search-Main-Container{
    border-radius: 25px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    background-color: #FAFAFA50;
    padding: 40px;
}

#Search-Container{
    background-color: #FFFFFF;
    height: 150px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #E0E0E0;
    border-radius: 25px;
}

.search-input{
    margin: 3px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #E91E63;

}

#Search-Button{
    width: 40px;
    transition: 0.3s;
    background-image: url(../img/search-icon.png);
    background-size: 80%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}

#Search-Button:hover{
    transition: 0.3s;
    border: 1px solid #E91E63;
    height: 45px;
    width: 45px;
    background-color: #E91E63;
    background-image: url(../img/search-icon2.png);
    cursor: pointer;
}

#Search-Icon{
    width: 20px;
    height: 20px;
}

#Search-Bar{
    width: 200px;
    padding-left: 20px;
}

#Selling-Options, #Type-Options{
    width: 125px;
    padding: 10px;
}

#Main-Container{
    display: flex;
    flex-direction: row;
    align-items: start;
    min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    padding: 8%;
}


.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 40px;
    padding-top: 50px;
}

#Content-Container{
    transition: 0.3s;
    width: 55%;
    text-align: center;
    margin-bottom: 40px;
}
#Agency-Container{
    transition: 0.3s;
    width: 35%;
    text-align: center;
    margin-bottom: 40px;
}

#Content-Container:hover{
    transition: 0.3s;
    border: 1px solid #E91E63;
    width: 60%;
    cursor: pointer;
}

#Agency-Container:hover{
    transition: 0.3s;
    border: 1px solid #E91E63;
    width: 40%;
    cursor: pointer;
}

hr{
    width: 80%;
    border: none;
    border-top: 1px solid #E91E63;
    margin: 20px 0;
}   

#Properties-Container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.properties-info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 250px;
    width: 460px;
    border: 1px solid #E0E0E0;
    border-radius: 25px;
    padding: 10px;
    transition: 0.3s;
}

.properties-info:hover{
    transition: 0.3s;
    border: 1px solid #E91E63;
    cursor: pointer;
    width: 480px;
    background-color: #FAFAFA;
}

.property-image{
    width: 100%;
    height: auto;
    border-radius: 25px;
    border: 1px solid #E91E63;
}

#image-1{
    background-image: url(../img/Casa-pnk1.webp);
    background-size: cover;
    background-position: center;
}
#image-2{
    background-image: url(../img/Casa-pnk2.webp);
    background-size: cover;
    background-position: center;
}
#image-3{
    background-image: url(../img/Casa-pnk3.webp);
    background-size: cover;
    background-position: center;
}
#image-4{
    background-image: url(../img/Casa-pnk1.webp);
    background-size: cover;
    background-position: center;
}
#image-5{
    background-image: url(../img/Casa-pnk3.webp);
    background-size: cover;
    background-position: center;
}
#image-6{
    background-image: url(../img/Casa-pnk2.webp);
    background-size: cover;
    background-position: center;
}

.hr-vertical{
    border: none;
    border-left: 1px solid #E91E63;
    height: 100%;
    width: 1px;
    margin: 0 10px;
}

.property-text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
    align-items: center;
    width: 100%;
}   

.information-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    text-align: start;
}

.agency-info{
    height: 275px;
    width: 275px;
    border: 1px solid #E0E0E0;
    border-radius: 25px;
    margin: 6px;
    transition: 0.3s;
}
.agency-info:hover{
    border: 1px solid #E91E63;
    width: 280px;
    height: 280px;
    cursor: pointer;
    background-color: #FAFAFA;
    transition: 0.3s;
}

#inmobiliaria-1{
    background-image: url(../img/Kasane-inmobiliaria.png);
    background-size: cover;
    background-position: center;
}
#inmobiliaria-2{
    background-image: url(../img/inmobiliaria-2.png);
    background-size: cover;
    background-position: center;
}
#inmobiliaria-3{
    background-image: url(../img/inmobiliaria-3.png);
    background-size: cover;
    background-position: center;
}

a{
    color: #000;
    font-style: normal;
}