/* 
    CSS for main structucture
*/

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    height: 90px;
    padding: 10px, 40px;
    align-items: center;
    /* Ajuste del Grid para repartir el header */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    /* Colores y separación visual del Header*/
    background-color: #fff;
    color: #212121;
    border-bottom: 1px solid #E0E0E0;
}

main{
    flex: 1;
    background-color: #FAFAFA;
}

footer{
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: auto; /* Fijado en la parte baja */
    height: 100px;
    border-top: 1px solid #E0E0E0;
}

#Logo-Container{
    display: flex;
    align-items: center;
    /* Ajuste del Grid para repartir el header */
    grid-column: span 2 / span 2;
}
#Form-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* Ajuste del Grid para repartir el header */
    grid-column: span 2 / span 2;
    grid-column-start: 4;
}

/* Default Style for the buttons of the Form */
.button-form{
    margin: 10px;
    border: none;
    background-color: #fff;
}

.button-form:hover{
    cursor: pointer;
}

/* Style for the Owner side */

#Owner-Form{
    transition: 0.3s;
    height: 40px;
    width: 150px;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: #E91E63;
}

#Owner-Form:hover{
    transition: 0.3s;
    height: 45px;
    width: 155px;
    background-color: #E91E63;
    color: #fff;
}

#logo{
    height: 80px;
    width: 80px;
}

#Tittle{
    font-size: xx-large;
    font-family: fascinate;
}

#Information-Container{
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

#About-Container{
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
}

#Contact-Container {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}

#Social-Container{
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 2;
}

#Another-Container{
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 2;
}